In [1]:
from IPython.display import Image
from IPython.core.display import HTML

# Naming Rules & Conventions
Variables names must start with a letter or an underscore, such as:

    _underscore
    underscore_
    
The remainder of your variable name may consist of letters, numbers and underscores.

    password1
    n00b
    un_der_scores
    
Names are case sensitive.

    case_sensitive, CASE_SENSITIVE, and Case_Sensitive are each a different variable.

In [2]:
ashare = 'A'
b = 5
print(ashare)
print(ASHARE)

A

NameError: name 'ASHARE' is not defined

# The Conventions
Readability is very important. 

    student_name  --- good one
    studentname
    studentName  --- ok

Self-explained names are good

    total_student_number   --- good one
    class_size

Avoid using the lowercase letter ‘l’, uppercase ‘O’, and uppercase ‘I’. Why? Because the l and the I look a lot like each other and the number 1. And O looks a lot like 0.

# python keywords
DO NOT use these keywords as name for variable/function/class.

In [18]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Comments
1. single line comment starts with #
2. multiple line comments may have multiple #，or ''' or """

In [136]:
# my first comment
# my second comment
'''
I have too many things to say here
but you can skip itsfjafjlaskfjl
asfkasfjlaf
You will miss nothing
'''

studentRules = """
rules

1. don't come late
2. bring your id
"""
studentRules="rules\n\n1.kdfla\n2.kjdflasfjl\n"

In [137]:
print(studentRules)

rules

1.kdfla
2.kjdflasfjl

# Indentation
All statements with the same distance to the right belong to the same block of code, i.e. the statements within a block line up vertically. The block ends at a line less indented or the end of the file. If a block has to be more deeply nested, it is simply indented further to the right.

In [21]:
Image(url= "https://www.python-course.eu/images/blocks.png")

In [22]:
if True:
    print('True')
else:
    print("False")

True

In [23]:
if True:
print('True')
else:
    print("False")

IndentationError: expected an indented block (<ipython-input-23-06ec62a09bbf>, line 2)

# What if you write a very long line of code?
break it by \

In [24]:
a, b, c = 1, 2, 3
totable = a + b + c
total = a + \
        b + \
        c
# if use ( ), then you don't need \
total = (a+
         b+
         c)
print(total)

6

in [], {}, or () you don't need \ 
```
name = 'Tom'
```

In [25]:
total = ['itemone',
         'itemtwo',
         'itemthree']
print(total)

['itemone', 'itemtwo', 'itemthree']

In [26]:
what = 'wwww\nww\tww'
print(what)
# raw
what = r'wwww\nww\tww'
print(what)

wwww
ww	ww
wwww\nww\tww

# types of number

1. int 
2. bool, True or False
3. float, 1.23、3E-2
4. complex, 1 + 2j、 1.1 + 2.2j

In [139]:
x=9235235908258209850823598320582058209580924852098509485230985203852098520845025098520
x

9235235908258209850823598320582058209580924852098509485230985203852098520845025098520

In [27]:
isok = True
print(type(isok))
print(isok)

x=2
print(type(x))
print(x)

if isok:
    print('ok')

<class 'bool'>
True
<class 'int'>
2
ok

In [28]:
# in python, non-zero is True. 0 and None are False
is_ok = 1
not_ok = 0
if is_ok:
    print('ok')

strange = -1
if strange:
    print('strange')
else:
    print('normal')

none = None
if none:
    print('none')
else:
    print('not')

ok
strange
not

# string

Strings can be created using single quotes or double quotes or even triple quotes.

String in single quotes cannot hold any other single quoted character in it otherwise an error arises because the compiler won’t recognize where to start and end the string. 

Double quotes is preferred, because it helps in creation of Strings with single quotes in them. 

For strings which contain Double quoted words in them, use of triple quotes is suggested. Along with this, triple quotes also allow the creation of multiline strings.

Python does not have a character data type, a single character is simply a string with a length of 1

In [141]:
word = 'this is good'
# word = 'this's good'
sentence = "he said \"This's good\""
paragraph = """
hello
how's going
"""
print(word)
print(sentence)
print(paragraph)

this is good
he said "This's good"

hello
how's going

In [143]:
# indexing，a : b，slice from a to b-1
mystr='123456'
 
print(mystr)                 # print it
print(mystr[0:-1])           # -1 means the last char, -2 is the next to last, and so on.
print(mystr[0])              # the first char
print(mystr[2:5])            # from index 2 to 4
print(mystr[2:])             # all starting from the 3rd
print(mystr * 10)             # repeat the string 10 times
print(mystr + 'hello')        # concatenate strings

mystr = "a: {0}, b: {1}".format('hello', "world")
print(mystr)
print('------------------------------')
 
print('hello\nrunoob')      # \n is new line
print(r'hello\nrunoob')     # use raw string

123456
12345
1
345
3456
123456123456123456123456123456123456123456123456123456123456
123456hello
a: hello, b: world
------------------------------
hello
runoob
hello\nrunoob

#### Binary operators and comparisons

In [31]:
5 - 7
12 + 21.5
5 <= 2

False

In [148]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]
print(a is b)
print(a is c) #compare the memory address

True
False

In [33]:
a == c  #compare the values

True

In [147]:
a = None
b=None
a is b

True

#### Mutable and immutable objects

In [35]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [36]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

### Scalar Types

#### Numeric types

In [37]:
ival = 17239871
ival ** 100

4501955341022038108275559824081901248200602347154284947559058317826595688781079603189522930806934795033769015163261104729024795603266239367649278801844811506725414634247400597491396165462720155908195727989687411182876647134402836769914617104804390003085937226825526078721170879428093199397255022894780513605397694281691445707165556091537413911279085995342578225854617994005799421979106913620211940516130440221637530263988628867208499074426329679803724317011961095984841222819810707950637459564080111472493568227708377343522505126017494584247908230953845935401397833508048529968999953435242101196280778602770006574038568941738016494797765870006012191238789683470869042255832257117627905287451806925747724877840032152608992001

In [38]:
fval = 7.243
fval2 = 6.78e-5

In [39]:
3 / 2

1.5

In [40]:
3 // 2

1

#### Dates and times

In [41]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [42]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [43]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [44]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [45]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [46]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
print(delta)
print(type(delta))

17 days, 1:59:39
<class 'datetime.timedelta'>

In [47]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

# wait for input
useful in designing interactive application

In [48]:
name = input("\n\n Input your name then press enter")
print("hello " + name)

 Input your name then press entertest
hello test

# Multiple statements in one line, seperated by ;

In [150]:
import sys; x = 'test'; sys.stdout.write(x + '\n');

test

# Control flow

In [50]:
condition1 = 0 > 20
condition2 = 20 > 0
print(condition1)
print(condition2)
if condition1 : 
    print('0 > 20')
elif condition2 : 
    print('20 > 0')
else : 
    print('no result')

False
True
20 > 0

In [155]:
for i in list(range(4)): print(i)

0
1
2
3

In [157]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

# print
print always prints new line at the end by default，<font color='red'>You can change it by end=""</font>

In [52]:
x="a"
y="b"
# print new line at end
print( x )
print( y )
 
print('---------')
# no new line at end
print( x, end="" )
print( y, end="" )
print('#####')
print(x, y)
print('{0} {1}'.format(x, y))

a
b
---------
ab#####
a b
a b

# import and from...import
1. import or from...import
2. import somemodule
3. from somemodule import somefunction
4. from somemodule import firstfunc, secondfunc, thirdfunc
5. from somemodule import *
6. give a short name for Numpy, Pandas, 
```
import numpy as np
import pandas as pd
```
7. some ML libraries have too many modules, so use "from...import" is prefered：
```
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier 
```

In [161]:
import numpy as np
np.random.seed(1245)
np.set_printoptions(precision=4, suppress=True)

In [163]:
[i*i for i in range(9)]

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [164]:
import numpy as np
data = {i : np.random.randn() for i in range(7)}
data

{0: 0.8312916516771098,
 1: -0.37241603599720746,
 2: 0.35204428025215717,
 3: 1.3361611396201594,
 4: 0.7015002151847513,
 5: -2.4655502582379536,
 6: -1.6337978161640023}

# Command line options
```
$ python -h
usage: python [option] ... [-c cmd | -m mod | file | -] [arg] ...
Options and arguments (and corresponding environment variables):
-c cmd : program passed in as string (terminates option list)
-d     : debug output from parser (also PYTHONDEBUG=x)
-E     : ignore environment variables (such as PYTHONPATH)
-h     : print this help message and exit

[ etc. ]
```

use help() to see the document

In [55]:
help(np)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [56]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [165]:
?print

#### Variables and argument passing

In [58]:
a = []
a.append(['aaa', 'bbb', 'werer'])
print(a)
a.append(['bb', 'cc', 'www'])
print(a)

[['aaa', 'bbb', 'werer']]
[['aaa', 'bbb', 'werer'], ['bb', 'cc', 'www']]

In [59]:
a = [1, 2, 3]

In [60]:
b = a

In [61]:
a.append(4)
b

[1, 2, 3, 4]

In [166]:

def append_element(some_list, element):
    some_list.append(element)

```python
In [27]: data = [1, 2, 3]

In [28]: append_element(data, 4)

In [29]: data
Out[29]: [1, 2, 3, 4]
```

#### Dynamic references, strong types

In [62]:
a = 5
print(type(a))
a = 'foo'
print(type(a))

<class 'int'>
<class 'str'>

In [172]:
del(str)

In [173]:
# javascript can do it
# 'result is ' + 5

'result is ' + str(5)

'result is 5'

In [64]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [65]:
a = 5
isinstance(a, int)

True

In [174]:
a = 5
isinstance(a, (int, float))

True

In [175]:
b = 4.5
isinstance(b, (int, float))

True

#### Attributes and methods

```python
In [1]: a = 'foo'

In [2]: a.<Press Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith
```

In [68]:
a = 'foo'

In [69]:
getattr(a, 'split')

#### range

In [70]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

#### Ternary expressions

In [176]:
x = 5
y='Non-negative' if x >= 0 else 'Negative'
print(y)

Non-negative

In [178]:
[i*i if i%2==1 else i**3 for i in range(9)]

[0, 1, 8, 9, 64, 25, 216, 49, 512]

# Built-in data types

* Number
* String
* List
* Tuple
* Set 
* Dictionary

<b>* Number, String, Tuple are immutable types. You can't change the value in place. New value will have new id in new address.</b>

In [73]:
a, b, c = 1.536, 'Hello', ('abcd', 883, 2.54)
print('a: {0}, id of a: {1}, so a: {0} is good'.format(a, b))
print('a: {0:.2f}, id of a: {1}'.format(a, id(a)))
print('b: {0}, id of b: {1}'.format(b, id(b)))
print('c: {0}, id of c: {1}'.format(c, id(c)))

a: 1.536, id of a: Hello, so a: 1.536 is good
a: 1.54, id of a: 1520750684432
b: Hello, id of b: 1520752266736
c: ('abcd', 883, 2.54), id of c: 1520751006888

In [74]:
a, b, c = 3, 'World',  ('efgh', 111, 20.54)
print('a: {0}, id of a: {1}'.format(a, id(a)))
print('b: {0}, id of b: {1}'.format(b, id(b)))
print('c: {0}, id of c: {1}'.format(c, id(c)))

a: 3, id of a: 140731649532368
b: World, id of b: 1520752263856
c: ('efgh', 111, 20.54), id of c: 1520750949224

<b>Keep in mind, a, b, c are tags and they can be put on anything, while 'hello', 'world', 1.536 are immutable</b>

<b>* List, Dictionary, Set are mutable types. You can change the value in place and the new value will stay in the same address so they will retain the id.</b>

In [75]:
mylist = [1, 2, 3, 4]
mydict = {'one': 1, 'two': 2}
myset = {'Tom', 'Jack', 'Hebe'}
mysome = {}
print(type(mysome))
print('mylist: {0}, id of mylist: {1}'.format(mylist, id(mylist)))
print('mydict: {0}, id of mydict: {1}'.format(mydict, id(mydict)))
print('myset: {0}, id of myset: {1}'.format(myset, id(myset)))

<class 'dict'>
mylist: [1, 2, 3, 4], id of mylist: 1520750636168
mydict: {'one': 1, 'two': 2}, id of mydict: 1520755207608
myset: {'Hebe', 'Jack', 'Tom'}, id of myset: 1520750513736

In [76]:
mylist.append(5)
mydate = '{0}-{1}-{2}'.format('1999', '12', '05')
print(mydate)
print('mylist: {0}, id of mylist: {1}'.format(mylist, id(mylist))) #parameter list
mydict['three'] =3
print('mydict: {0}, id of mydict: {1}'.format(mydict, id(mydict)))
myset.add('Lamda')
print('myset: {0}, id of myset: {1}'.format(myset, id(myset)))

1999-12-05
mylist: [1, 2, 3, 4, 5], id of mylist: 1520750636168
mydict: {'one': 1, 'two': 2, 'three': 3}, id of mydict: 1520755207608
myset: {'Hebe', 'Lamda', 'Jack', 'Tom'}, id of myset: 1520750513736

In [77]:
mylist = [1,2,3,2,3,4,5,7]
norepeat = list(set(mylist))
print(norepeat)

[1, 2, 3, 4, 5, 7]

In [78]:
print(mydict)
print(mydict['one'])

{'one': 1, 'two': 2, 'three': 3}
1

In [79]:
# any immutable value can be used as key
mydict['I want a very long key'] = 'crazy'
mydict[1] = 'aw'
mydict['data'] = {'dataa':['a', 'b', 'c'], 'meta': 'England'}
mydict

{'one': 1,
 'two': 2,
 'three': 3,
 'I want a very long key': 'crazy',
 1: 'aw',
 'data': {'dataa': ['a', 'b', 'c'], 'meta': 'England'}}

In [80]:
mydict.items()

dict_items([('one', 1), ('two', 2), ('three', 3), ('I want a very long key', 'crazy'), (1, 'aw'), ('data', {'dataa': ['a', 'b', 'c'], 'meta': 'England'})])

In [81]:
for key, value in mydict.items():
    print(key, value)

one 1
two 2
three 3
I want a very long key crazy
1 aw
data {'dataa': ['a', 'b', 'c'], 'meta': 'England'}

In [82]:
d={"a":1, "b":2, "c":3}
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [83]:
for k, _ in d.items():
    print(k)

a
b
c

In [84]:
for k, v in d.items():
    print(v)

1
2
3

# Dictionary 
* List is ordered collection of objects, while dictionary is unordered collection of objects.
* Unlike list, dictionary accesses element by key, instead of index.
* Dictionary is a mapping relationship between key and value.
* Key must be immutable, such as string, int, float, so that the key is hashable.
* No duplicate key in one dictionary
* Dictionary can be nested, such as in json.

In [85]:
dictsample = {}
dictsample['fund1'] = 'S&P 500'
dictsample[2] = 'Safe Bond'
dictsample[2.5] = 'Safe Bond'
print(dictsample)

tinydict = {'name': 'Training', 
            'code': [1,5,'6'], 
            'purpose': "Base data type"}
print (dictsample['fund1'], 
       '1',
       2) 
print (dictsample[2])          
print (tinydict)         
print (tinydict.keys())   
print (tinydict.values())

{'fund1': 'S&P 500', 2: 'Safe Bond', 2.5: 'Safe Bond'}
S&P 500 1 2
Safe Bond
{'name': 'Training', 'code': [1, 5, '6'], 'purpose': 'Base data type'}
dict_keys(['name', 'code', 'purpose'])
dict_values(['Training', [1, 5, '6'], 'Base data type'])

In [86]:
if tinydict.get('id', None) is None:
    tinydict['id'] = ['1']
else:
     tinydict['id'].append('2')
print(tinydict)

{'name': 'Training', 'code': [1, 5, '6'], 'purpose': 'Base data type', 'id': ['1']}

In [87]:
mydict = {}
# mydict['fund']
for i in range(10):
    if mydict.get('fund', None) is None:
        mydict['fund'] = ['f{0}'.format(i + 1)]
    else:
        mydict['fund'].append('f{0}'.format(i + 1))
print(mydict['fund'])
print(mydict)
for key, value in mydict.items():
    print('key is :{0}, value is {1}'.format(key, value))
# list.append adds one element
# list.extend adds a list

['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10']
{'fund': ['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10']}
key is :fund, value is ['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10']

In [88]:
for key in dictsample.keys():
    print(dictsample[key])

S&P 500
Safe Bond
Safe Bond

In [89]:
print(type(dictsample.values()))
for value in dictsample.values():
    print(value)

<class 'dict_values'>
S&P 500
Safe Bond
Safe Bond

In [90]:
for key, value in dictsample.items():
    print(key, ': ', value)

fund1 :  S&P 500
2 :  Safe Bond
2.5 :  Safe Bond

#### Different ways to use dict()

In [91]:
# for x in (2, 4, 6):
#     print(x, end=" ")
# print()
# print(x)
mydict = {x: x**2 for x in (2, 4, 6)}
print(mydict)

newdict = dict(Apple=1, Orange=2, Banana=3)
print(newdict)

constructdict = dict([('Apple', 1), ('Orange', 2), ('Banana', 3)])
print(constructdict)

{2: 4, 4: 16, 6: 36}
{'Apple': 1, 'Orange': 2, 'Banana': 3}
{'Apple': 1, 'Orange': 2, 'Banana': 3}

In [182]:
# x=[i for i in range(9)]
# y=[i*i for i in range(9)]
dict(zip(range(9), [i*i for i in range(9)]))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

## Functions

In [183]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [184]:
print(my_function(5, 6, z=0.7))
print(my_function(3.14, 7, 3.5))
print(my_function(10, 20))

0.06363636363636363
35.49
45.0

In [237]:
def cube(x, total={}):
    print(total)
    if x in total:
        print("hit cache")
        return total[x]
    else:
        print("first time")
        total[x]=x**3
        return total[x]

In [241]:
print(cube(6))

{1: 1, 6: 216}
hit cache
216

### Namespaces, Scope, and Local Functions

In [94]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [95]:
a = []
def func():
    for i in range(5):
        a.append(i)
func()
a

[0, 1, 2, 3, 4]

In [96]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

### Returning Multiple Values

In [97]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [98]:
return_value = f()

In [99]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

### Functions Are Objects

In [100]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [101]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [102]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [103]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [104]:
clean_strings(states, clean_ops)

TypeError: title() takes no arguments (1 given)

In [105]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

In [106]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [107]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [108]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [109]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Errors and Exception Handling

In [110]:
float('1.2345')
float('something')

ValueError: could not convert string to float: 'something'

In [111]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [112]:
attempt_float('1.2345')
attempt_float('something')

'something'

In [113]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [114]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [115]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [116]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [117]:
f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

NameError: name 'path' is not defined

In [118]:
f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

NameError: name 'path' is not defined

## More python basics

### https://docs.python.org/3/tutorial/

### Lab exercise of today

#### Problem 1. Write a function squareRoot(x) to compute the square root of the positive number by newton-raphson method.

<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/710c11b9ec4568d1cfff49b7c7d41e0a7829a736">

<img width="600" src="https://slideplayer.com/slide/3248291/11/images/14/Newton%E2%80%99s+Method+for+finding+the+square+root+of+a+number+x+%3D+%EF%83%96+a.jpg">

https://www.quora.com/What-is-the-Newton-Rapson-method-for-finding-a-square-root-of-an-integer-number-How-does-one-use-it

#### Problem 2. Write a function myPi(n) to compute pi by Gregory series.

<img src="http://mathworld.wolfram.com/images/eps-gif/GregorySeries_1000.gif">
http://mathworld.wolfram.com/PiFormulas.html